@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  @apply .outline-none;
}

input:focus {
  @apply .outline-none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.gradient-blue {
  background-color: #045de9;
  background-image: linear-gradient(to bottom, #009ffd, #045de9);
}

.gradient-red {
  background-image: linear-gradient(to top, #eb3449, #f45c43);
}
